<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>controller_class_should_have_parametrized_reference_to_service_layer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>implementation_package_should_be_defined_in_controller_module</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>controller_class_should_have_part_of_create_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>controller_class_should_have_part_of_update_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>controller_class_should_have_constructor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>update_controller_method_should_have_return_type_and_take_parameter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>controller_class_should_have_part_of_delete_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>controller_class_should_have_part_of_read_all_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>controller_class_should_have_part_of_read_by_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>read_by_controller_method_should_have_return_type_and_take_parameter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>controller_package_should_be_defined_in_controller_module</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delete_controller_method_should_have_return_type_and_take_parameter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>controller_layer_should_not_have_reference_to_repository_layer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>controller_class_should_have_part_of_controller_class_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>create_controller_method_should_have_return_type_and_take_parameter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>read_all_controller_method_should_have_only_return_type</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>service_class_should_have_constructor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delete_service_method_should_have_return_type_and_take_parameter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>service_class_should_have_part_of_create_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>service_class_should_have_part_of_read_by_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>service_package_should_be_defined_in_service_module</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>service_layer_should_not_have_reference_to_controller_layer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>implementation_package_should_be_defined_in_service_module</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>service_class_should_have_part_of_read_all_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>read_all_service_method_should_have_only_return_type</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>service_class_should_have_part_of_update_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>update_service_method_should_have_return_type_and_take_parameter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>read_by_service_method_should_have_return_type_and_take_parameter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>service_class_should_have_part_of_delete_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>service_class_should_have_parametrized_reference_to_repository_layer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>service_class_should_have_part_of_service_class_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>service_class_should_has_reference_to_validator</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>create_service_method_should_have_return_type_and_take_parameter</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>repository_class_should_have_part_of_delete_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>repository_class_should_have_part_of_read_by_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>read_by_repository_method_should_have_return_type_and_take_parameter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>repository_class_should_have_part_of_update_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>repository_class_should_have_part_of_controller_class_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>repository_class_should_have_part_of_read_all_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>repository_class_should_have_constructor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>implementation_package_should_be_defined_in_repository_module</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>update_repository_method_should_have_return_type_and_take_parameter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>repository_layer_should_not_have_reference_to_service_layer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>read_all_repository_method_should_have_only_return_type</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>repository_class_should_have_part_of_create_method_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>repository_layer_should_not_have_reference_to_controller_layer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>create_repository_method_should_have_return_type_and_take_parameter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>repository_class_should_have_reference_to_data_source</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>repository_package_should_be_defined_in_controller_module</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delete_repository_method_should_have_return_type_and_take_parameter</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
