<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Architecture advanced</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.controller_class_should_have_constructor()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">controller_class_should_have_constructor</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.controller_class_should_have_parametrized_reference_to_service_layer()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">controller_class_should_have_parametrized_reference_to_service_layer</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.controller_class_should_have_part_of_controller_class_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">controller_class_should_have_part_of_controller_class_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.controller_class_should_have_part_of_create_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">controller_class_should_have_part_of_create_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.controller_class_should_have_part_of_delete_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">controller_class_should_have_part_of_delete_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.controller_class_should_have_part_of_read_all_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">controller_class_should_have_part_of_read_all_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.controller_class_should_have_part_of_read_by_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">controller_class_should_have_part_of_read_by_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.controller_class_should_have_part_of_update_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">controller_class_should_have_part_of_update_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.controller_layer_should_not_have_reference_to_repository_layer()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">controller_layer_should_not_have_reference_to_repository_layer</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.controller_package_should_be_defined_in_controller_module()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">controller_package_should_be_defined_in_controller_module</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.create_controller_method_should_have_return_type_and_take_parameter()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">create_controller_method_should_have_return_type_and_take_parameter</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.create_repository_method_should_have_return_type_and_take_parameter()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">create_repository_method_should_have_return_type_and_take_parameter</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.create_service_method_should_have_return_type_and_take_parameter()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">create_service_method_should_have_return_type_and_take_parameter</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.delete_controller_method_should_have_return_type_and_take_parameter()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">delete_controller_method_should_have_return_type_and_take_parameter</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.delete_repository_method_should_have_return_type_and_take_parameter()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">delete_repository_method_should_have_return_type_and_take_parameter</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.delete_service_method_should_have_return_type_and_take_parameter()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">delete_service_method_should_have_return_type_and_take_parameter</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.implementation_package_should_be_defined_in_controller_module()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">implementation_package_should_be_defined_in_controller_module</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.implementation_package_should_be_defined_in_repository_module()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">implementation_package_should_be_defined_in_repository_module</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.implementation_package_should_be_defined_in_service_module()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">implementation_package_should_be_defined_in_service_module</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.read_all_controller_method_should_have_only_return_type()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">read_all_controller_method_should_have_only_return_type</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.read_all_repository_method_should_have_only_return_type()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">read_all_repository_method_should_have_only_return_type</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.read_all_service_method_should_have_only_return_type()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">read_all_service_method_should_have_only_return_type</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.read_by_controller_method_should_have_return_type_and_take_parameter()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">read_by_controller_method_should_have_return_type_and_take_parameter</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.read_by_repository_method_should_have_return_type_and_take_parameter()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">read_by_repository_method_should_have_return_type_and_take_parameter</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.read_by_service_method_should_have_return_type_and_take_parameter()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">read_by_service_method_should_have_return_type_and_take_parameter</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.repository_class_should_have_constructor()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">repository_class_should_have_constructor</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.repository_class_should_have_part_of_controller_class_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">repository_class_should_have_part_of_controller_class_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.repository_class_should_have_part_of_create_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">repository_class_should_have_part_of_create_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.repository_class_should_have_part_of_delete_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">repository_class_should_have_part_of_delete_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.repository_class_should_have_part_of_read_all_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">repository_class_should_have_part_of_read_all_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.repository_class_should_have_part_of_read_by_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">repository_class_should_have_part_of_read_by_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.repository_class_should_have_part_of_update_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">repository_class_should_have_part_of_update_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.repository_class_should_have_reference_to_data_source()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">repository_class_should_have_reference_to_data_source</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.repository_layer_should_not_have_reference_to_controller_layer()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">repository_layer_should_not_have_reference_to_controller_layer</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.repository_layer_should_not_have_reference_to_service_layer()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">repository_layer_should_not_have_reference_to_service_layer</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.repository_package_should_be_defined_in_controller_module()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">repository_package_should_be_defined_in_controller_module</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.service_class_should_has_reference_to_validator()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">service_class_should_has_reference_to_validator</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.service_class_should_have_constructor()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">service_class_should_have_constructor</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.service_class_should_have_parametrized_reference_to_repository_layer()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">service_class_should_have_parametrized_reference_to_repository_layer</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.service_class_should_have_part_of_create_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">service_class_should_have_part_of_create_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.service_class_should_have_part_of_delete_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">service_class_should_have_part_of_delete_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.service_class_should_have_part_of_read_all_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">service_class_should_have_part_of_read_all_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.service_class_should_have_part_of_read_by_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">service_class_should_have_part_of_read_by_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.service_class_should_have_part_of_service_class_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">service_class_should_have_part_of_service_class_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.service_class_should_have_part_of_update_method_name()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">service_class_should_have_part_of_update_method_name</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.service_layer_should_not_have_reference_to_controller_layer()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">service_layer_should_not_have_reference_to_controller_layer</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.service_package_should_be_defined_in_service_module()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">service_package_should_be_defined_in_service_module</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>22/06/17 15:42:54</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebModuleTest.update_controller_method_should_have_return_type_and_take_parameter()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.web.WebModuleTest@3b084709]">update_controller_method_should_have_return_type_and_take_parameter</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>22/06/17 15:42:55</td>   <td>191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RepositoryModuleTest.update_repository_method_should_have_return_type_and_take_parameter()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.repository.RepositoryModuleTest@ea1a8d5]">update_repository_method_should_have_return_type_and_take_parameter</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>22/06/17 15:42:55</td>   <td>148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceModuleTest.update_service_method_should_have_return_type_and_take_parameter()[pri:0, instance:com.mjc.school.test_suites.architecture_advanced.service.ServiceModuleTest@33f88ab]">update_service_method_should_have_return_type_and_take_parameter</td> 
  <td>main@738433734</td>   <td></td> </tr>
</table>
